<form (ngSubmit)="onSubmit()" #stockForm="ngForm">
    <label class="insert">Update</label>
  <label>Stock Name</label>
  <!--<input type="text"
         name="stock_name"
         [(ngModel)]="stock.stock_name"
         required /> -->
         <div class="combo-box">
  
  <!-- Textbox -->
  <input type="text"
         placeholder="Search stock..."
         [(ngModel)]="searchText"
         (focus)="showDropdown = true"
         (input)="showDropdown = true"
         name="stock_name"
         required />

  <!-- Dropdown (shows only when typing) -->
  <ul *ngIf="showDropdown && searchText.length >= 3" class="dropdown">
    <li *ngFor="let s of filteredStocks()"
        (click)="selectStock(s)">
      {{ s }}
    </li>

    <li *ngIf="filteredStocks().length === 0" class="no-data">
      No match found
    </li>
  </ul>
</div>

  <label>Sell Price</label>
  <input type="number"
         name="sell_price"
         [(ngModel)]="stock.sell_price"
         required />

  <button type="submit">Submit</button>
</form>
